<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="/">Doug's tech blog</a>
	  <div class="nav-collapse">
		<ul class="nav">
		  <li class="">
			<a href="/"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://www.twitter.com/DougSherk" rel="tooltip" title="Go to twitter.com/DougSherk" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/DouglasSherk" rel="tooltip" title="Go to github.com/DougSherk" target="_blank">GitHub</a></li>
					<li class=""><a href="http://www.linkedin.com/profile/view?id=103633711&trk=tab_pro" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>										
					<li class=""><a href="http://news.ycombinator.com/user?id=dougsherk" rel="tooltip" title="Go to news.ycombinator.com/dougsherk" target="_blank">Hacker News</a></li>
				</ul>
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="http://scigit.com" rel="tooltip" title="Go to SciGit" target="_blank">SciGit</a></li>					
					<li class=""><a href="http://apollorp.org" rel="tooltip" title="Go to Apollo RP" target="_blank">Apollo RP</a></li>
				</ul>
			 </li>			
		</ul>		
	  </div>
	</div>
  </div>
</div>
